.contactsBlock {
    min-height: 100vh;
    background-color: #f3d78f;
    display: flex;
    align-items: center;
}

.contactsContainer {
    flex-direction: column;
    min-height: 60vh;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input {
    margin-bottom: 20px;
    height: 20px;
}

.textarea {
    min-height: 20vh;
    margin-bottom: 20px;
}

.button {
    width: 120px;
    height: 40px;
    font-size: 24px;
    background-color: #d5d5bd;
}

@media screen and (max-width: 1024px) {
    .form {
        width: 100%;
    }
}

