@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.skillsBlock {
  min-height: 100vh;
  padding: 100px;

  .container {
    @include flex(column, space-between, center, wrap);
    width: 100%;
  }

  .skills {
    @include flex(row, center, center, wrap);
    width: 100%;
  }
}





