.skillsBlock {
    min-height: 100vh;
    background-color: #cccc77;

}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #722b8a;

}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 630px) {
    .skills {
        justify-content: center;
    }
}