@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.remoteBlock {
  min-height: 30vh;
  padding: 100px 0;

  .container {
    @include container();
    @include flex(column, space-between, center, nowrap);
    min-height: 20vh;

    .indent {
      @include flex(column, center, center, nowrap);
      margin-top: 15px;
    }
  }
}



