.footerBlock {
    height: 30vh;
    background-color: #b3dcf1;
}

.footerContainer {
    flex-direction: column;
    justify-content: space-between;
    /*min-height: 10vh;*/
    display: flex;
    border: 1px solid darkgray;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
}

.footerContacts {
    border: 1px solid #d954c6;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.footerItem {
    width: 70px;
    height: 70px;
    background-color: #722b8a;
}

.footerEnd {
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .footerContacts {
        width: 100%;
        justify-content: space-between;
    }

    .footerItem {
        width: 50px;
        height: 50px;
    }
}